<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Are you sure to Delete RECORD </h1>
<form action="deletecreg" method="post">
	{% csrf_token %}
<table>
	<tr><td>ID</td><td><input type="text" name="txtid" value="{{res1.id}}" readonly="true" /> </td></tr>
	<tr><td>EMAIL</td><td>{{res1.emailid}}</td></tr>
	<tr><td>Password</td><td>{{res1.password}}</td></tr>
	<tr><td>Mobile</td><td>{{res1.mobile}}</td></tr>
	<tr><td>Fullname</td><td>{{res1.fullname}}</td></tr>
	<tr><td></td><td><input type="submit" name="btnsubmit" value="Delete" /><a href="viewreg">Cancel</a></td></tr>


</table>
</form>
</body>
</html>